<div class = "container1">
  <div>
    <%= image_tag('personal.png',class:'top_image')%>
  </div>

  <div class ="purple_box">
    <div class = "container2">
      <%= simple_form_for @user, url: profile_update_path, method: :patch do |f| %>
        <div class = 'inner_container'>
          <h4>Personal Information</h4>
              <%= f.input :legal_name , :label => "Legal Name"%>
              <%= f.input :pronouns, :label => "Pronouns" %>
               <%= f.input :birthdate, :label => "Birthdate" %>
              <%= f.input :nationality, :label => "Nationality" %>
              <%= f.input :nickname, :label => "Nickname"%>
          </div>
            <%= f.button :button do %>
              <%= image_tag('lock.png', width:60, style:"float:right")%>
            <% end %>
      <% end %>
    </div>
  </div>
</div>
