<div class="container1">
    <div>
        <%= image_tag('pablo-2.png',class:'top_image')%>
    </div>
    <div class="purple_box">
        <div class="container2">
            <%= simple_form_for @user, url: profile_update_path, method: :patch do |f| %>
            <div class='inner_container'>
                <h4>Yourself</h4>
                <%= f.input :legal_name , :label => "Legal Name"%>
                <%= f.input :pronouns, :label => "Pronouns" %>
                <%= f.input :nickname, :label => "Nickname"%>
                <div class="d-flex flex-column bd-highlight mb-3">
                    <%= f.input :birthdate, start_year: Date.today.year - 110, end_year: Date.today.year,  :label => "Birthdate"%>
                </div>
                <%= f.input :nationality, :label => "Nationality" %>
                <%= f.submit 'Save' , class: 'greenButton' %>
            </div>
            <% end %>
        </div>
    </div>
</div>
