<div class="container1">
    <div>
        <%= image_tag('pablo-2.png',class:'top_image')%>
    </div>
    <div class="purple_box">
        <div class='container2'>
            <div class="progress_notes">
                <h4>Yourself</h4>
            </div>


            <div class='review'>
              <div>
                <li>Legal Name:<p><%= current_user.legal_name ? current_user.legal_name: nil  %></p></li>
                <li>NickName:<p><%= current_user.nickname ? current_user.nickname: nil %></p></li>
                <li>Pronouns:<p><%= current_user.pronouns ? current_user.pronouns : nil %></p></li>
                <li>Birthdate:<p><%= current_user.birthdate ? current_user.birthdate.strftime('%-d %B %Y') : nil %></p></li>
                <li>Nationality:<p><%= current_user.nationality ? current_user.nationality: nil %></p></li>
              </div>
              <div>
                <%= link_to image_tag("email.png", width: 40, style:"margin-left:141px"), :controller => "profiles", :action => "send_order_mail", :id => @user.id %>
                <%= link_to image_tag("edit.png", width: 40, style:"float:right"), profile_edit_path %>
              </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
