<div class = "container1">
  <div>
    <%= image_tag('top_banner.png',class:'top_image')%>
  </div>

  <div class='container2'>
    <div class='review'>
    <h4>review all your personal information for download</h4>
    <p>NickName: <%= current_user.nickname %> </p>
    <p>Pronouns: <%= current_user.pronouns %> </p>
    <p>Birthdate: <%= current_user.birthdate ? current_user.birthdate.strftime('%-d %B %Y') : nil %> </p>
    <p>Nationality: <%= current_user.nationality %> </p>
    <p>Legal Name: <%= current_user.legal_name %> </p>
  </div>
  </div>
</div>
