<div class = "container1">
  <div>
    <%= image_tag('top_banner.png',class:'top_image')%>
  </div>


 <div class ="purple_box">
  <div class='container2'>
      <h4>Review Your Personal Information</h4>
      <div class = "mt-3">
         <%= render "profiles/progress" %>
      </div>
        <div class='review'>
          <p>NickName: <%= current_user.nickname ? current_user.nickname: nil %> </p>
          <p>Pronouns: <%= current_user.pronouns ? current_user.pronouns : nil %> </p>
          <p>Birthdate: <%= current_user.birthdate ? current_user.birthdate.strftime('%-d %B %Y') : nil %> </p>
          <p>Nationality: <%= current_user.nationality ? current_user.nationality: nil %> </p>
          <p>Legal Name: <%= current_user.legal_name ? current_user.legal_name: nil  %> </p>
        </div>
   </div>
</div>
