<div class="container1">
    <div>
        <%= image_tag('pablo-face-recognition.png',class:'top_image')%>
    </div>
    <div class="purple_box">
        <div class='container2'>
            <div class="progress_notes">
                <h4>Yourself</h4>
            </div>
            <div class='review'>
                <p>NickName:
                    <%= current_user.nickname ? current_user.nickname: nil %>
                </p>
                <p>Pronouns:
                    <%= current_user.pronouns ? current_user.pronouns : nil %>
                </p>
                <p>Birthdate:
                    <%= current_user.birthdate ? current_user.birthdate.strftime('%-d %B %Y') : nil %>
                </p>
                <p>Nationality:
                    <%= current_user.nationality ? current_user.nationality: nil %>
                </p>
                <p>Legal Name:
                    <%= current_user.legal_name ? current_user.legal_name: nil  %>
                </p>
                <%= link_to image_tag("edit.png", size: 30, style:"float:right"), profile_edit_path %>
            </div>
        </div>

   </div>
  <button type="button" class="btn btn-dark"> <%= link_to "Send details to email", :controller => "profiles", :action => "send_order_mail", :id => @user.id %> </button>

    </div>
  </div>
</div>
