
<div class = "container1">
  <div>
    <%= image_tag('pablo-done-removebg-preview.png',class: 'top_image')%>
  </div>

  <div class ="purple_box">
    <div class = "container2">
        <% if @ceremony == nil %>
          <h4>Add Your Ceremony Details</h4>
            <div class = "review">
              <div class= "plus">
                <%= link_to image_tag("plus_white.png", size: 40), new_ceremony_path %>
              </div>
          </div>
        <%else%>

        <h4>Review Your Ceremony Details</h4>
        <div class = "review">
            <li>Ceremony Type: <p><%= @ceremony.ceremony_type ? @ceremony.ceremony_type: "None selected" %> </p></li>
            <li>Venue: <p><%= @ceremony.venue ? @ceremony.venue : nil %> </p></li>
            <li>Burial Type: <p><%= @ceremony.burial_type ? @ceremony.burial_type: "None selected" %> </p></li>
            <li>Details: <p><%= @ceremony.details ? @ceremony.details: nil %> </p></li>
            <li>Epitaph: <p><%= @ceremony.epitaph ? @ceremony.epitaph: nil  %> </p></li>
            <li>Funeral Home: <p><%= @ceremony.funeral_home ? @ceremony.funeral_home: nil  %> </p></li>
            <li>Press Release: <p><%= @ceremony.press_release ? @ceremony.press_release: nil  %> </p></li>
            <li>Speaker:<p> <%= @ceremony.speaker_id ? @ceremony.speaker.full_name: nil  %> </p></li>
            <li>Music Selector:<p> <%= @ceremony.music_selector_id ? @ceremony.music_selector.full_name: nil  %> </p></li>
            <div class="d-flex justify-content-between align-items-center">
              <% if policy(@ceremony).edit? %>
              <%= link_to image_tag('edit.png', width:40), edit_ceremony_path(@ceremony) %>
              <% end %>
              <% if policy(@ceremony).destroy? %>
              <%= link_to image_tag('bin.png', width:40), ceremony_path(@ceremony),
              method: :delete, data: {
                confirm: 'Are you sure?' }%>
              <% end %>
              <%= link_to image_tag("email.png", width: 40, class: "ml-1"), :controller => "ceremonies", :action => "send_order_mail", :id => @ceremony.user.id %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>



