<h1>New Ceremony</h1>
<div class = "container1">
  <div>
    <%= image_tag('ceremony.png',class:'top_image')%>
  </div>

  <div class ="purple_box">
    <div class = "container2">
      <div class = "row">
      <div class = " col-xs-12 col-sm-6 col-sm-offset-3">

      </div>
      </div>
    <%= simple_form_for @ceremony do |f| %>
      <div class = 'inner_container'>
      <h4>Add Ceremony Details</h4>
          <%#= f.input :ceremony_type, as: :check_box, collection: Ceremony.ceremony_types.keys, :label => "Select the type of ceremony you desire."%>
          <%#= f.collection_check_boxes :ceremony, [[true, "Yes"], [false, "No"]], :ceremony_type, collection: Ceremony.ceremony_types.keys %>
          <p>Select the type of ceremony you desire.</p>
          <% Ceremony.ceremony_types.each do |key, value| %>
            <%= f.fields_for :ceremonies do |x| %>
            <%= x.check_box :ceremony_type, {}, value, false %>
            <%= key %>
            <% end %>
            <% end %>
           <%= f.input :venue, :label => "Do you have an ideal venue in mind?" %>
          <!-- Custom Field For Form With Flex-column -->
<!--           <%= f.input :burial_type, collection: Ceremony.burial_types.keys, as: :boolean, input_html: {checked: false}, :label => "Select the type of burial you desire." %> -->
          <p>Select the type of burial you desire.</p>
          <% Ceremony.burial_types.each do |key, value| %>
            <%= f.fields_for :ceremonies do |x| %>
            <%= x.check_box :burial_type, {}, value, false %>
            <%= key %>
            <% end %>
            <% end %>
          <%= f.input :details, :label => "Any specific requests for your ceremony?" %>
          <%= f.input :epitaph, :label => "Any last words for your epitaph?"%>
          <%= f.input :funeral_home, :label => "Add the funeral home you want to work with."%>
          <%= f.input :press_release, :label => "How would you like the news of your passing published or released?"%>
          <%= f.input :speaker_id, collection: current_user.contacts, value_method: :id, label_method: :full_name, :label => "Choose a speaker from your list of your Relations"%>
          <%= f.input :music_selector_id, collection: current_user.contacts, value_method: :id, label_method: :full_name, :label => "Choose who is in charge of music from your list of your Relations."%>
      </div>
          <%= f.button :button do %>
            <%= image_tag('lock.png', width:60)%>
          <% end %>
    <% end %>
     </div>
  </div>
</div>

