<div class = "container1">
  <div>
    <%= image_tag('ceremony.png',class:'top_image')%>
  </div>

  <div class ="purple_box">
    <div class = "container2">
    <%= simple_form_for @ceremony do |f| %>
    <div class = 'inner_container'>
      <h4>Add Ceremony Details</h4>
      <p>Select the type of ceremony you desire.</p>
          <div class = "radio-selector">
            <% id_incrementor = 1 %>
            <% Ceremony.ceremony_types.keys.each do |ceremony_type| %>
            <div class = "radios" >
              <%= f.radio_button :ceremony_type, ceremony_type, class: "radio", id: "test#{id_incrementor}", name:"ceremony[ceremony_type]" %>
              <%= f.label ceremony_type, class: "radio", for: "test#{id_incrementor}" %>
              <% id_incrementor += 1 %>
            </div>
            <% end %>
          </div>

          <div>
            <%= f.input :venue, :label => "Do you have an ideal venue in mind?" %>
          </div>


          <!-- Custom Field For Form With Flex-column -->

          <p>Select the type of burial you desire.</p>
          <div class = "radio-selector">
            <% id_incrementor_two = 10 %>
            <% Ceremony.burial_types.keys.each do |burial_type| %>
            <div class = "radios" >
              <%= f.radio_button :burial_type, burial_type, class: "radio", id: "test#{id_incrementor_two}", name:"ceremony[burial_type]" %>
              <%= f.label burial_type, class: "radio", for: "test#{id_incrementor_two}" %>
              <% id_incrementor_two += 1 %>
            </div>
            <% end %>
          </div>
          <div>
            <%= f.input :details, :label => "Any specific requests for your ceremony?" %>
          </div>
          <div>
            <%= f.input :epitaph, placeholder: "Here lies #{current_user.legal_name}. #{current_user.pronouns } was...", :label => "Any last words for your epitaph?"%>
          </div>
          <div>
            <%= f.input :funeral_home, :label => "Add the funeral home you want to work with."%>
          </div>
          <div>
            <%= f.input :press_release, :label => "How would you like the news of your passing published or released?"%>
          </div>
          <div>
            <%= f.input :speaker_id, collection: current_user.contacts, value_method: :id, label_method: :full_name, :label => "Choose a speaker from your list of your Relations"%>
          </div>
          <div>
            <%= f.input :music_selector_id, collection: current_user.contacts, value_method: :id, label_method: :full_name, :label => "Choose who is in charge of music from your list of your Relations."%>
          </div>
        </div>
        <%= f.button :button do %>
        <%= image_tag('lock.png', width:60)%>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>

