<h1>Ceremony Show page </h1>
<div class = "container1">
  <div>
    <%= image_tag('ceremony.png',class:'top_image')%>
  </div>

  <div class ="purple_box">
    <div class = "container2">
      <h4>Review Your Ceremony Details</h4>
      <div class = "review">
        <p>CeremonyType: <%= current_user.ceremony.ceremony_type ? current_user.ceremony.ceremony_type.key : nil %> </p>
        <p>Venue: <%= current_user.ceremony.venue ? current_user.ceremony.venue : nil %> </p>
        <p>BurialType: <%= current_user.ceremony.burial_type ? current_user.ceremony.burial_type.key : nil %> </p>
        <p>Details: <%= current_user.ceremony.details ? current_user.ceremony.details: nil %> </p>
        <p>Epitaph: <%= current_user.ceremony.epitaph ? current_user.ceremony.epitaph: nil  %> </p>
        <p>FuneralHome: <%= current_user.ceremony.funeral_home ? current_user.ceremony.funeral_home: nil  %> </p>
        <p>PressRelease: <%= current_user.ceremony.press_release ? current_user.ceremony.press_release: nil  %> </p>
        <p>Speaker: <%= current_user.ceremony.speaker_id ? current_user.ceremony.speaker.full_name: nil  %> </p>
        <p>MusicSelector: <%= current_user.ceremony.music_selector_id ? current_user.ceremony.music_selector.full_name: nil  %> </p>
        <% if @ceremony == nil %>
        <h4> You currently have no ceremony details added </h4>
        <%= link_to 'Add some details', new_ceremony_path, class: 'btn btn-ghost' %>
        <%else%>
        <li>
          <% if policy(@ceremony).edit? %>
          <%= link_to image_tag('edit.png',width:40), edit_ceremony_path(@ceremony) %>
          <% end %>
          <% if policy(@ceremony).destroy? %>
          <%= link_to image_tag('bin.png',width:40), ceremony_path(@ceremony),
          method: :delete, data: {
            confirm: 'Are you sure?' }%></li>
            <%end%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
