<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for joininng Willit</h1>
    <p>
      Here is your information about your profile from the Yourself page<br>
    </p>
    <p>Legal name: <%= @user.legal_name %> </p>
    <p>Email: <%= @user.email %> </p>
    <p>Pronoun: <%= @user.pronouns %> </p>
    <p>Birthdate: <%= @user.birthdate %> </p>
    <p>Nationality: <%= @user.nationality %> </p>
    <p>Nickname: <%= @user.nickname %> </p>
    <p>Thanks for joining and have a great day!</p>
    <p> your Willit team </p>
    <img src="https://i.ibb.co/0GgyjY7/willit-logo.png" alt="willit-logo" >
  </body>
</html>
