<div class="container card-padding max-card-width pt-3" >

  <% if user_signed_in? %>
    <h4> Hi, <%= current_user.nickname %> </h4>
    <h4 class="header2">You are making great Progress!</h4>
      <div class="progress">
        <div class="progress-bar bg-success active" role="progressbar"
        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style='width: <%= "#{ceremony_progress}%" %>'>
          <%= total_progress %>%
        </div>
      </div>
    <h4 class="header2">Your Proactive Planning Categories</h4>
  <% else %>
    <h4 class="header2">Your Proactive Planning Categories</h4>
  <% end %>

    <div class="card-trip">
      <%= link_to profile_path do %>
        <%= image_tag("personal.png") %>
        <div class="card-trip-infos" style='height: <%= "#{profile_progress}%" %>'>
          <h2>Yourself</h2>
        </div>
       <% end%>
    </div>

    <div class="card-trip">
      <%= link_to contacts_path do %>
       <%= image_tag("relations.png") %>
        <div class="card-trip-infos"  style='height: <%= "#{contact_progress}%" %>'>
          <h2>Relations</h2>
        </div>
      <% end%>
    </div>

    <div class="card-trip">
      <%= link_to valuables_path do %>
        <%= image_tag("valuables.png") %>
        <div class="card-trip-infos" style='height: <%= "#{valuable_progress}%" %>'>
          <h2>Valuables</h2>
        </div>
      <% end%>
    </div>

    <div class="card-trip">
      <%= link_to ceremonies_path do %>
        <%= image_tag("ceremony.png") %>
        <div class="card-trip-infos" style='height: <%= "#{ceremony_progress}%" %>'>
          <h2>Ceremony</h2>
        </div>
      <%end %>
    </div>
  </div>
</div>


