<div class="container card-padding max-card-width pt-3" >

  <% if user_signed_in? %>
    <h4> Hi, <%= current_user.nickname %> </h4>
    <h4 class="header2">You are making great Progress!</h4>
    <div class="progress">
        <div class="progress-bar bg-success progress-bar-striped active" role="progressbar"
        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
          40%
        </div>
  </div>
    <h4 class="header2">Your proactive Planning Categories</h4>
  <% else %>
    <h4 class="header2">Your proactive Planning Categories</h4>
  <% end %>


  <div class="cards">

    <div class="card-trip">
      <%= image_tag "ceremony.png" %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to 'Ceremony', new_ceremony_path %></h2>
          </div>
      </div>
    </div>

    <div class="card-trip">
        <%= image_tag "relations.png" %>
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to 'Relations',relations_path %></h2>
            </div>
        </div>
      </div>

     <div class="card-trip">
        <%= image_tag "personal.png" %>
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to 'Yourself', profile_edit_path %></h2>
            </div>
        </div>
      </div>

      <div class="card-trip">
        <%= image_tag "valuables.png"%>
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to 'Valuables', '#' %></h2>
            </div>
        </div>
      </div>
</div>

  <!-- <div class="card-wrapper">
    <div class=" no-margin">
      <div class="card">
        <%= image_tag "personal.png", class: "home-img" %>
        <div class="card-body">
          <h4><%= link_to 'Yourself', profile_edit_path %></h4>
        </div>
      </div>
    </div>
    <div class=" no-margin" >
      <div class="card green">
        <%= image_tag "relations.png", class: "home-img" %>
         <div class="card-body">
          <h4><%= link_to 'Relations',relations_path %></h4>
         </div>
      </div>
    </div>
    <div class=" no-margin" >
      <div class="card">
        <%= image_tag "dog.png", class: "home-img" %>
        <div class="card-body">          
          <h4><%= link_to 'Valuables', valuables_path %></h4>
        </div>
      </div>
    </div>
    <div class=" no-margin" >
        <div class="card green">
          <%= image_tag "ceremony.png", class: "home-img" %>
          <div class="card-body">
            <h4><%= link_to 'Ceremony', new_ceremony_path %></h4>
          </div>
        </div>
    </div>
  </div>
</div>
 -->

