<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),  url(https://res.cloudinary.com/dhkfntyfw/image/upload/v1581950575/pablo-done_cn5ofh.png);">
  <div class="container">
    <h1>Willit</h1>
  </div>
</div>
    <div class="text-align">
        <h4>Have the Last Word</h4>
        <p>Start collecting your resources. Begin proactive planning for your death</p>
        <button class='greenButton'>
            <%= link_to 'Start Planning', new_user_registration_path %></button>
        <button class='greenButton'>
            <%= link_to 'Log In', new_user_session_path %></button>
    </div>
<div class = 'how'>
  <div class="text-align">
  <h4>How Willit Works</h4>
  <%= image_tag('catalogue.png', size:70 )%>
  <p>Catalog your decisions</p>
  <%= image_tag('friends.png', size:70)%>
  <p>Set your Executor and Beneficiaries</p>
  <%= image_tag('docs.png', size:70)%>
  <p>Update any time</p>
  <div>
</div>
