<h1>Pages#home</h1>

    <% if current_user.nickname.present? %>
          <h2>Welcome <%= current_user.nickname %> </h2>
        <% else %>
          <h2>Welcome! We suggest starting with adding some personal information</h2>
        <% end %>
<div class=container>
<div class=cards>
<%= link_to 'Personal Information', edit_user_path(current_user) %>
<%= link_to 'Memories', edit_user_path(current_user) %>
<%= link_to 'Relations', edit_user_path(current_user) %>
<%= link_to 'Ceremony', edit_user_path(current_user) %>
<%= link_to 'Valuables', edit_user_path(current_user) %>
<%= link_to 'Job Benefits', edit_user_path(current_user) %>
</div>
</div>



