<div class="container card-padding max-card-width pt-3" >
  <div class="progress">
    <div class="progress-bar bg-success progress-bar-striped active" role="progressbar"
    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
      40%
    </div>
  </div>
  <% if user_signed_in? %>
    <h2 class="header2"> Hi, <%= current_user.nickname %> </h2>
  <% else %>
    <h2 class="header2">Select a Category</h2>
  <% end %>
  <div class="card-wrapper">
    <div class=" no-margin">
      <div class="card">
        <%= image_tag "personal.png", class: "home-img" %>
        <div class="card-body">
        <!--   <%= link_to 'Yourself', # %> -->
        </div>
      </div>
    </div>
    <div class=" no-margin" >
      <div class="card green">
        <%= image_tag "relations.png", class: "home-img" %>
         <div class="card-body">
          <!--  -->
         </div>
      </div>
    </div>
    <div class=" no-margin" >
      <div class="card">
        <%= image_tag "dog.png", class: "home-img" %>
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class=" no-margin" >
        <div class="card green">
          <%= image_tag "ceremony.png", class: "home-img" %>
          <div class="card-body">

          </div>
        </div>
    </div>
  </div>
</div>


