<div class="container" >

  <div class="card-wrapper">
    <div class=" no-margin">
     <h2> Choose your Collection </h2>
      <div class="card">
        <%= image_tag "collection.jpg", class: "home-imgs" %>
        <div class="card-body">
          <%= link_to "Istruments", new_valuable_path("collections") %> <br>
          <%= link_to "Books", new_valuable_path("collections") %> <br>
          <%= link_to "Coins", new_valuable_path("collections") %> <br>
          <%= link_to "Vinyl", new_valuable_path("collections") %> <br>
          <%= link_to "Games", new_valuable_path("collections") %> <br>
          <%= link_to "Coins", new_valuable_path("collections") %> <br>
          <%= link_to "Airline Miles", new_valuable_path("collections") %> <br>
        </div>
      </div>
    </div>
    <div class=" no-margin" >
      <h2> Choose your Electronics </h2>
      <div class="card green">
        <%= image_tag "electronics.jpeg", class: "home-imgs" %>
         <div class="card-body">
      <%= link_to "Computer", new_valuable_path("electronics") %> <br>
      <%= link_to "Phone", new_valuable_path("electronics") %> <br>
      <%= link_to "Camera", new_valuable_path("electronics") %> <br>
      <%= link_to "Television", new_valuable_path("electronics") %> <br>
      <%= link_to "Video-game console", new_valuable_path("electronics") %> <br>
      <%= link_to "Stereo", new_valuable_path("electronics") %> <br>
         </div>
      </div>
    </div>
    <div class=" no-margin" >
      <h2> Choose your Household </h2>
      <div class="card">
        <%= image_tag "houseware.png", class: "home-imgs" %>
        <div class="card-body">
      <%= link_to "Furniture", new_valuable_path("household") %> <br>
      <%= link_to "Appliance", new_valuable_path("household") %> <br>
      <%= link_to "Artwork", new_valuable_path("household") %> <br>
      <%= link_to "Antiques", new_valuable_path("household") %> <br>
      <%= link_to "Clothing", new_valuable_path("household") %> <br>
      <%= link_to "Kitchenwares", new_valuable_path("household") %> <br>
        </div>
      </div>
    </div>
    <div class=" no-margin" >
        <h2> Choose your Jewelry </h2>
        <div class="card green">
          <%= image_tag "jewelry.jpeg", class: "home-imgs" %>
          <div class="card-body">
      <%= link_to "Rings", new_valuable_path("jewelry") %> <br>
      <%= link_to "Braclets", new_valuable_path("jewelry") %> <br>
      <%= link_to "Earings", new_valuable_path("jewelry") %> <br>
      <%= link_to "Necklaces", new_valuable_path("jewelry") %> <br>
      <%= link_to "Necklace", new_valuable_path("jewelry") %> <br>
      <%= link_to "Watch", new_valuable_path("jewelry") %> <br>
      <%= link_to "Cufflinks", new_valuable_path("jewelry") %> <br>
          </div>
        </div>
    </div>
    <div class=" no-margin" >
        <h2> Choose your Equiptment </h2>
      <div class="card">
        <%= image_tag "vehicles.jpeg", class: "home-imgs" %>
        <div class="card-body">
      <%= link_to "Music Gear", new_valuable_path("vehicles") %> <br>
      <%= link_to "Bikes", new_valuable_path("jewelry") %> <br>
      <%= link_to "Tools", new_valuable_path("jewelry") %> <br>
      <%= link_to "Snowboard or Skis", new_valuable_path("vehicles") %> <br>
      <%= link_to "Drone", new_valuable_path("jewelry") %> <br>
      <%= link_to "Camping gear", new_valuable_path("jewelry") %> <br>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

