<div class = "container1">
  <div>
    <%= image_tag('pablo-4.png',class:'top_image')%>
  </div>

  <div class ="purple_box">
    <div class = "container2">
    <%= simple_form_for @contact do |f| %>
      <div class = 'inner_container'>
      <h4>Add a Loved One</h4>
          <%= f.input :first_name, :label => "First Name"%>
          <%= f.input :last_name, :label => "Last Name" %>
          <!-- Custom Field For Form With Flex-column -->
          <%= f.input :relationship, :label => "Relationship" %>
          <%= f.input :email, :label => "Email address" %>
          <%= f.input :phone_number, :label => "Phone Number?"%>
          <%= f.input :is_executor, :label => "Appoint as Executor"%>
          <%= f.submit 'Save' , class: 'greenButton' %>
      </div>
          <%#= f.button :button do %>
            <%#= image_tag('lock.png', width:30)%>
          <%# end %>
    <% end %>
  </div>
  </div>
<!-- <div class="button-align">
   <%#= link_to 'Review your info', contacts_path(current_user), class: 'btn btn-ghost' %>
  </div> -->
</div>
