<div class="container1">
  <div>
    <%= image_tag('pablo-4.png',class:'top_image')%>
  </div>

  <div class ="purple_box">
    <div class = "container2">

      <div class ="progress_notes">
        <h4>Your Loved Ones</h4>
        <%#= render "contacts/executor_set" %>
      </div>

      <div class = "review">
        <% if @contacts.empty? %>
        <h4> You currently have no relations added </h4>
        <%else%>
        <% @contacts.each do |contact| %>
        <li>
          <div>
            <%= contact.first_name + " " + contact.last_name %>
            <% if contact.is_executor %>
            <%= image_tag('tick.png', width:25) %>
            <%end%>

            <%= link_to image_tag('about.png', width:20, style: "float:right"), contact_path(contact) %>
          </div>
        </li>
          <%end%>
          <% end %>
        <div class="plus">
          <%= link_to image_tag("plus_white.png", size: 40, style: "float:right"), new_contact_path %>
        </div>
     <%= link_to image_tag("email.png", size: 30, style:"margin-left:141px"), :controller => "contacts", :action => "send_order_mail", :id => current_user.id %>
        </div>
      </div>
  </div>
</div>

