<div class="container1">
  <div>
    <%= image_tag('pablo-4.png',class:'top_image')%>
  </div>
  <div class="purple_box">
    <div class="container2">
      <h4>Review Loved Ones</h4>
      <div class="review">
        <li>First Name:<p><%= @contact.first_name ? @contact.first_name : nil %></p></li>
        <li>Last Name:<p><%= @contact.last_name ? @contact.last_name : nil %></p></li>
        <li>Relationship:<p><%= @contact.relationship ? @contact.relationship : nil %></p></li>
        <li>Email:<p> <%= @contact.email ? @contact.email: nil %></p></li>
        <li>Phone Number:<p><%= @contact.phone_number ? @contact.phone_number: nil  %></p></li>
        <% if @contact == nil %>
        <h4> Add current details to this Loved One.</h4>
        <%= link_to 'Add some info', new_contact_path, class: 'greenButton' %>
        <% else %>
        <li>
        <% if policy(@contact).edit? %>
          <%= link_to image_tag('edit.png',width:40), edit_contact_path(@contact) %>
        <% end %>
        <% if policy(@contact).destroy? %>
          <%= link_to image_tag('bin.png',width:40), contact_path(@contact),
            method: :delete, data: {
            confirm: 'Are you sure?' }%></li>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
