
    <h2 class="header2">Start a log of Your Valuables</h2>
    <h3 class="header2">Pick a Category</h3>
  <div class="card-wrapper">
    <div class=" no-margin">
      <div class="card">
        <%= image_tag "collection.jpg", class: "home-imgs" %>
        <div class="card-body">
        <%= link_to "Collections", valuable_items_path("collections") %> <br>
        </div>
      </div>
    </div>
    <div class=" no-margin" >
      <div class="card green">
        <%= image_tag "electronics.jpg", class: "home-imgs" %>
         <div class="card-body">
        <%= link_to "Electronics", valuable_items_path("electronics") %> <br>
         </div>
      </div>
    </div>
    <div class=" no-margin" >
      <div class="card">
        <%= image_tag "houseware.png", class: "home-imgs" %>
        <div class="card-body">
        <%= link_to "Housewares", valuable_items_path("housewares") %> <br>
        </div>
      </div>
    </div>
    <div class=" no-margin" >
        <div class="card green">
          <%= image_tag "jewelry.jpg", class: "home-imgs" %>
          <div class="card-body">
          <%= link_to "Jewelry", valuable_items_path("jewelry") %> <br>
          </div>
        </div>
    </div>
    <div class=" no-margin" >
      <div class="card">
        <%= image_tag "vehicles.jpg", class: "home-imgs" %>
        <div class="card-body">
        <%= link_to "Vehicles", valuable_items_path("vehicles") %> <br>
        </div>
      </div>
    </div>
  </div>
</div>



