
    <h2 class="header2">Start a log of You Valuables</h2>
  <div class="card-wrapper">
    <div class=" no-margin">
      <div class="card">
        <%= image_tag "collection.jpg", class: "home-imgs" %>
        <div class="card-body">
        <%= link_to "Have you any collections?", pages_path %> <br>
        </div>
      </div>
    </div>
    <div class=" no-margin" >
      <div class="card green">
        <%= image_tag "electronics.jpeg", class: "home-imgs" %>
         <div class="card-body">
        <%= link_to "Have you any electronics?", pages_path %> <br>
         </div>
      </div>
    </div>
    <div class=" no-margin" >
      <div class="card">
        <%= image_tag "houseware.png", class: "home-imgs" %>
        <div class="card-body">
        <%= link_to "Have you any housewares?", pages_path %> <br>
        </div>
      </div>
    </div>
    <div class=" no-margin" >
        <div class="card green">
          <%= image_tag "jewelry.jpeg", class: "home-imgs" %>
          <div class="card-body">
          <%= link_to "Have you any jewelry?", pages_path %> <br>
          </div>
        </div>
    </div>
    <div class=" no-margin" >
      <div class="card">
        <%= image_tag "vehicles.jpeg", class: "home-imgs" %>
        <div class="card-body">
        <%= link_to "Have you any vehicles?", pages_path %> <br>
        </div>
      </div>
    </div>
  </div>
</div>



