<div class="container1">
    <div>
        <%= image_tag('pablo-camera-2.png',class:'top_image')%>
    </div>
    <div class="purple_box">
        <div class="container2">
            <!--  <h1>The Category is <%= @category %></h1> -->
            <div class="everything">
                <div class="<%= 'd-none' unless @category == 'collections' %> val_item_grid">
                    <div class="item_link">
                        <%= link_to image_tag('guitar.png'), new_valuable_path("collections", "instruments") %>
                        <div class="valuable_text">
                            <p>Instruments</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('book.png'), new_valuable_path("collections", "books") %>
                        <div class="valuable_text">
                            <p>Books</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('coin.png'), new_valuable_path("collections", "coins") %>
                        <div class="valuable_text">
                            <p>Coins</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('vinyl.png'), new_valuable_path("collections", "vinyls") %>
                        <div class="valuable_text">
                            <p>Vinyl</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('boardgame.png'), new_valuable_path("collections", "games") %>
                        <div class="valuable_text">
                            <p>Games</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('airline.png'), new_valuable_path("collections", "miles") %>
                        <div class="valuable_text">
                            <p>Airline Miles</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="everything">
                <div class="<%= 'd-none' unless @category == 'electronics' %> val_item_grid">
                    <!-- <h2> Choose your Electronics </h2> -->
                    <div class="item_link">
                        <%= link_to image_tag('computer.png'), new_valuable_path("electronics", "computer") %>
                        <div class="valuable_text">
                            <p>Computer</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('cellphone.png'), new_valuable_path("electronics", "phone") %>
                        <div class="valuable_text">
                            <p>Phone</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('camera.png'), new_valuable_path("electronics", "camera") %>
                        <div class="valuable_text">
                            <p>Camera</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('vintage.png'), new_valuable_path("electronics", "television") %>
                        <div class="valuable_text">
                            <p>Television</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('videogame.png'), new_valuable_path("electronics", "game_console" ) %>
                        <div class="valuable_text">
                            <p>Games</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('radio.png'), new_valuable_path("electronics", "stereo") %>
                        <div class="valuable_text">
                            <p>Music</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="everything">
                <div class="<%= 'd-none' unless @category == 'housewares' %> val_item_grid">
                    <!-- <h2> Choose your Houseware </h2> -->
                    <div class="item_link">
                        <%= link_to image_tag('chair.png'), new_valuable_path("housewares", "furniture") %>
                        <div class="valuable_text">
                            <p>Furniture</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('fridge.png'), new_valuable_path("housewares", "appliance")%>
                        <div class="valuable_text">
                            <p>Appliances</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('painting.png'), new_valuable_path("housewares", "artwork") %>
                        <div class="valuable_text">
                            <p>Artwork</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('antique.png'), new_valuable_path("housewares", "antiques") %>
                        <div class="valuable_text">
                            <p>Antiques</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('hanger.png'), new_valuable_path("housewares", "clothing") %>
                        <div class="valuable_text">
                            <p>Clothing</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('kitchen.png'), new_valuable_path("housewares", "kitchenwares") %>
                        <div class="valuable_text">
                            <p>KitchenWare</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="everything">
                <div class="<%= 'd-none' unless @category == 'jewelry' %> val_item_grid">
                    <!-- <h2> Choose your Jewelry </h2> -->
                    <div class="item_link">
                        <%= link_to image_tag('rings.png'), new_valuable_path("jewelry", "rings") %>
                        <div class="valuable_text">
                            <p>Rings</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('bracelet.png'), new_valuable_path("jewelry", "bracelets") %>
                        <div class="valuable_text">
                            <p>Bracelets</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('earrings.png'), new_valuable_path("jewelry", "earrings") %>
                        <div class="valuable_text">
                            <p>Earings</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('necklace.png'), new_valuable_path("jewelry","necklaces") %>
                        <div class="valuable_text">
                            <p>Necklaces</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('watch.png'), new_valuable_path("jewelry", "watches") %>
                        <div class="valuable_text">
                            <p>Watches</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('cufflinks.png'), new_valuable_path("jewelry", "cufflinks") %>
                        <div class="valuable_text">
                            <p>Cufflinks</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="everything">
                <div class="<%= 'd-none' unless @category == 'vehicles' %> val_item_grid">
                    <!-- <h2> Choose your Equipment </h2> -->
                    <div class="item_link">
                        <%= link_to image_tag('car.png'), new_valuable_path("vehicles", "cars") %>
                        <div class="valuable_text">
                            <p>Cars</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('bike.png'), new_valuable_path("vehicles", "bikes") %>
                        <div class="valuable_text">
                            <p>Bikes</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('motorbike.png'), new_valuable_path("vehicles", "motorbikes") %>
                        <div class="valuable_text">
                            <p>Motorbikes</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('snowboard.png'), new_valuable_path("vehicles", "snowboards") %>
                        <div class="valuable_text">
                            <p>Snowboards</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('scooter.png'), new_valuable_path("vehicles", "scooters") %>
                        <div class="valuable_text">
                            <p>Scooters</p>
                        </div>
                    </div>
                    <div class="item_link">
                        <%= link_to image_tag('boat.png'), new_valuable_path("vehicles", "boats") %>
                        <div class="valuable_text">
                            <p>Boats</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
