<div class="container" >
  <h1>The Category is <%= @category %></h1>

  <div class="card-wrapper">
    <div class="<%= 'd-none' unless @category == 'collections' %> no-margin">
     <h2> Choose your Collection </h2>
      <div class="card">
        <%= image_tag "collection.jpg", class: "home-imgs" %>
        <div class="card-body">
          <%= link_to "Istruments", new_valuable_path("collections", "instruments") %> <br>
          <%= link_to "Books", new_valuable_path("collections", "books") %> <br>
          <%= link_to "Coins", new_valuable_path("collections", "coins") %> <br>
          <%= link_to "Vinyls", new_valuable_path("collections", "vinyls") %> <br>
          <%= link_to "Games", new_valuable_path("collections", "games") %> <br>
          <%= link_to "Airline Miles", new_valuable_path("collections", "miles") %> <br>
        </div>
      </div>
    </div>
    <div class="<%= 'd-none' unless @category == 'electronics' %> no-margin" >
      <h2> Choose your Electronics </h2>
      <div class="card green">
        <%= image_tag "electronics.jpg", class: "home-imgs" %>
         <div class="card-body">
      <%= link_to "Computer", new_valuable_path("electronics", "computer") %> <br>
      <%= link_to "Phone", new_valuable_path("electronics", "phone") %> <br>
      <%= link_to "Camera", new_valuable_path("electronics", "camera") %> <br>
      <%= link_to "Television", new_valuable_path("electronics", "television") %> <br>
      <%= link_to "Video-game console", new_valuable_path("electronics", "game_console" ) %> <br>
      <%= link_to "Stereo", new_valuable_path("electronics", "stereo") %> <br>
         </div>
      </div>
    </div>
    <div class="<%= 'd-none' unless @category == 'housewares' %> no-margin" >
      <h2> Choose your Houseware </h2>
      <div class="card">
        <%= image_tag "houseware.png", class: "home-imgs" %>
        <div class="card-body">
      <%= link_to "Furniture", new_valuable_path("housewares", "furniture") %> <br>
      <%= link_to "Appliance", new_valuable_path("housewares", "appliance")%> <br>
      <%= link_to "Artwork", new_valuable_path("housewares", "artwork") %> <br>
      <%= link_to "Antiques", new_valuable_path("housewares", "antiques") %> <br>
      <%= link_to "Clothing", new_valuable_path("housewares", "clothing") %> <br>
      <%= link_to "Kitchenwares", new_valuable_path("housewares", "kitchenwares") %> <br>
        </div>
      </div>
    </div>
    <div class="<%= 'd-none' unless @category == 'jewelry' %> no-margin" >
        <h2> Choose your Jewelry </h2>
        <div class="card green">
          <%= image_tag "jewelry.jpg", class: "home-imgs" %>
          <div class="card-body">
      <%= link_to "Rings", new_valuable_path("jewelry", "rings") %> <br>
      <%= link_to "Braclets", new_valuable_path("jewelry", "braclets") %> <br>
      <%= link_to "Earings", new_valuable_path("jewelry", "earings") %> <br>
      <%= link_to "Necklaces", new_valuable_path("jewelry","necklaces") %> <br>
      <%= link_to "Watch", new_valuable_path("jewelry", "watches") %> <br>
      <%= link_to "Cufflinks", new_valuable_path("jewelry", "cufflinks") %> <br>
          </div>
        </div>
    </div>
    <div class="<%= 'd-none' unless @category == 'vehicles' %> no-margin" >
        <h2> Choose your Equiptment </h2>
      <div class="card">
        <%= image_tag "vehicles.jpg", class: "home-imgs" %>
        <div class="card-body">
      <%= link_to "Cars", new_valuable_path("vehicles", "cars") %> <br>
      <%= link_to "Bikes", new_valuable_path("vehicles", "bikes") %> <br>
      <%= link_to "Motorbikes", new_valuable_path("vehicles", "motorbikes") %> <br>
      <%= link_to "Snowboards/skateboards", new_valuable_path("vehicles", "snowboards") %> <br>
      <%= link_to "Scooters", new_valuable_path("vehicles", "scooters") %> <br>
      <%= link_to "Boats", new_valuable_path("vehicles", "boats") %> <br>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

