<h2> Your new valuable: <%= @valuable.title %> </h2>
<p> Your item type is: <%= @valuable.item %> </p>
<p> <%= @valuable.description%> </p>
<p>Value is, <%= @valuable.value%> euro </p>
<%= cl_image_tag @valuable.photo, height: 200, width: 200, crop: :fill %>
 <% if policy(@valuable).edit? %>
 <button type="button" class="btn btn-dark"><%= link_to "Edit", edit_valuable_path %></button>
 <% end %>
 <% if policy(@valuable).destroy? %>
 <button type="button" class="btn btn-dark"> <%= link_to "Delete", valuable_path(@valuable), method: :delete %> </button>
 <% end %>

  <h3> Your other valuables </h3>
  <% @valuables.each do |valuable| %>
<h4><%= link_to valuable.title, valuable_path(valuable) %></h4> <br>
<% end %>

<h3>Assigned user is:
  <% current_user.contacts.each do |contact| %>
    <span><%= contact.first_name %> </span>
  <% end %> </h3>
<button type="button" class="btn btn-dark"><%= link_to "Send details to email", :controller => "valuables", :action => "send_order_mail", :id => @valuable.user.id %></button>
