<div class="container1">
    <div>
        <%= image_tag('pablo-camera-2.png', class:'top_image')%>
    </div>
    <div class="purple_box">
        <div class="container2">
            <div class="review">
                <h4>Valuable:</h4>
                <p> Valuable name: <%= @valuable.title %> </p>
                <%#= @valuable.item %>
                <p>Description: <%= @valuable.description%> </p>
                <p>Value: <%= @valuable.value%> euro</p>
                <%= cl_image_tag @valuable.photo, height: 200, width: 200, crop: :fill %>
                <div class="bnt">
                    <% if policy(@valuable).edit? %>
                    <%= link_to  edit_valuable_path do %>
                    <i class="fas fa-pencil-alt"></i>
                    <% end %>
                    <% end %>
                    <% if policy(@valuable).destroy? %>
                    <%#= link_to image_tag('bin.png', width:25), valuable_path(@valuable), method: :delete %>
                    <%= link_to valuable_path(@valuable), method: :delete do %>
                    <i class="fas fa-trash"></i>
                    <% end %>
                    <% end %>
                    <%= link_to image_tag("email.png", size: 30, style:"margin-left:141px"), :controller => "valuables", :action => "send_order_mail", :id => @valuable.user.id  %>
                </div>
                <% if @valuable.contact %>
                <p>You have assigned
                    <%= @valuable.contact.first_name + " " + @valuable.contact.last_name %> to inherit this</p>
                <% end %>




                        <div class="btn " data-toggle="modal" data-target=".bd-example-modal-sm">
                          <h2>Your other valuables: </h2>
                        </div>
                        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content animate-bottom">
                                    <% @valuables.each do |valuable| %>
                                    <p>
                                        <%= link_to valuable.title, valuable_path(valuable) %>
                                    </p>
                                    <% end %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
            </div>
        </div>
    </div>
</div>
</div>
