<div class="container1">
    <div>
        <%= image_tag('pablo-camera-2.png', class:'top_image')%>
    </div>
    <div class="purple_box">
        <div class="container2">
            <div class="review">
                <h4>Valuable:</h4>
               <li> Title: <p> <%= @valuable.title %> </p> </li>
                <%#= @valuable.item %>
                <li> Description: <p> <%= @valuable.description%> </p> </li>
                <li> Value: <p> <%= @valuable.value%> euro</p> </li>
                <% if @valuable.contact %>
               <li> Beneficiary: <p> <%= @valuable.contact.first_name + " " + @valuable.contact.last_name %> inherits this</p>
                <% end %>
                <div class="imgs">
                <%= cl_image_tag @valuable.photo, height: 200, width: 200, crop: :fill %>
              </div>
                <div class="d-flex justify-content-between align-items-center">
                    <% if policy(@valuable).edit? %>
                    <%= link_to image_tag("edit.png", width:40, style:"float:right"), edit_valuable_path %>


                    <% end %>
                    <% if policy(@valuable).destroy? %>
                    <%#= link_to image_tag('bin.png', width:25), valuable_path(@valuable), method: :delete %>
                    <%= link_to image_tag("bin.png", width:40, style:"float:right"), valuable_path(@valuable), method: :delete %>

                    <% end %>
                  <%= link_to image_tag("email.png", width:40, style:"margin-left:10px"), :controller => "valuables", :action => "send_order_mail", :id => @valuable.user.id  %>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
