<h1>Valuables Show</h1>
<div class = "container1">
  <div>
    <%= image_tag('valuables.png',class:'top_image')%>
  </div>

  <div class ="purple_box">
      <h1> Your <%=@valuable.title%> </h1>
      <h2><%=@valuable.item%></h2>
    <div class = "container2">
    </div>
      <div class = "review">
        <p> <%= @valuable.description%> </p>
        <p>Value: <%= @valuable.value%> euro </p>
        <%= cl_image_tag @valuable.photo, height: 200, width: 200, crop: :fill %>
      <% if policy(@valuable).edit? %>
      <%= link_to image_tag('edit.png', width:25), edit_valuable_path %><br>
      <% end %>
      <% if policy(@valuable).destroy? %>
      <%= link_to image_tag('bin.png', width:25), valuable_path(@valuable), method: :delete %><br>
      <% end %>
      <!-- <h2> Your other valuables </h2> -->
      <%# @valuables.each do |valuable| %>
      <!-- <h2><%#= link_to valuable.title, valuable_path(valuable) %></h2> -->
      <%# end %>
    </div>
  </div>
</div>
