<div class="container1">
    <div>
        <%= image_tag('pablo-camera-2.png', class:'top_image')%>
    </div>
    <div class="purple_box">
        <div class="container2">
            <div class="review">
                <h4>Valuable:</h4>
                <p>
                    <%= @valuable.title %>
                </p>
                <%#= @valuable.item %>
                <p>
                    <%= @valuable.description%>
                </p>
                <p>
                    <%= @valuable.value%> euro</p>
                <%= cl_image_tag @valuable.photo, height: 200, width: 200, crop: :fill %>
                <div class="bnt">
                    <% if policy(@valuable).edit? %>
                    <%= link_to  edit_valuable_path do %>
                    <i class="fas fa-pencil-alt"></i>
                    <% end %>
                    <% end %>
                    <% if policy(@valuable).destroy? %>
                    <%#= link_to image_tag('bin.png', width:25), valuable_path(@valuable), method: :delete %>
                    <%= link_to valuable_path(@valuable), method: :delete do %>
                    <i class="fas fa-trash"></i>
                    <% end %>
                    <% end %>
                    <%= link_to image_tag("email.png", size: 30, style:"margin-left:141px"), :controller => "valuables", :action => "send_order_mail", :id => @valuable.user.id  %>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
