<div class = "container1">
  <div>
    <%= image_tag('valuables.png', class:'top_image')%>
  </div>
    <div class ="purple_box">
    <div class = "container2">
      <div class = "review">

<h2> Your <%= @valuable.title %> </h2>
<p><%= @valuable.item %> </p>
<p> <%= @valuable.description%> </p>
<p>Value is, <%= @valuable.value%> euro </p>
<%= cl_image_tag @valuable.photo, height: 200, width: 200, crop: :fill %>
 <div>
 <% if policy(@valuable).edit? %>
<%= link_to image_tag('edit.png', width:25), edit_valuable_path %><br>
 <% end %>
 <% if policy(@valuable).destroy? %>
 <%= link_to image_tag('bin.png', width:25), valuable_path(@valuable), method: :delete %><br>
 <% end %>

  <h3> Your other valuables </h3>
  <% @valuables.each do |valuable| %>
<h4><%= link_to valuable.title, valuable_path(valuable) %></h4> <br>
<% end %>

<h3>Assigned user is:
  <% current_user.contacts.each do |contact| %>
    <span><%= contact.first_name %> </span>
  <% end %> </h3>
<button type="button" class="btn btn-dark"><%= link_to "Send details to email", :controller => "valuables", :action => "send_order_mail", :id => @valuable.user.id %></button>
       
  </div>
      </div>
    </div>
  </div>
</div>
