<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Willit</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag 'willit_logo.png'%>
    <%= stylesheet_link_tag 'application', media: 'all' %>
   <!--  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/back_button' unless @disable_back %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/logout' unless @disable_logout %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= render 'shared/navbar' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'dropdown' %>
  </body>
</html>
